<tr>
    <td>
        <div class="event-title-cell" tooltip>
            <span>{{ event.title }}</span>
        </div>
    </td>
    <td>
        <div class="event-time-cell" tooltip>
            <span>{{ event.startDate + ' ' + event.startTime }}</span>
        </div>
    </td>
    <td>
        <div class="event-host-cell" tooltip>
            {{ event.host }}
        </div>
    </td>
    <td>
        <div class="event-location-cell" tooltip>
            {{ event.location }}
        </div>
    </td>
</tr>