a.navbar-notes, a.navbar-notes:focus, a.navbar-notes:hover {
    text-decoration: none;
    color: #5e5e5e;
    background-color: transparent;
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    color: #777;
    margin-left: -15px;
}