<li class="note-view">
    <a href="#editevent/{{event.id}}">
        <div class="icon-edit-event"></div>
    </a>
    <div>
        <h4>
            <span>{{ event.title }}</span>
            <small class="red" ng-if="event.status.isCancelled"> - Cancelled</small>
        </h4>

        <p>
            <span>{{ event.startDate }}</span><span>-</span><span>{{ event.startTime }}</span>
            <span>to</span>
            <span>{{ event.endDate }}</span><span>-</span><span>{{ event.endTime }}</span>
        </p>

        <p>
            <span>Hosted : </span><span>{{ event.host }}</span><br>
            <span>When : </span><span>{{ event.location }}</span>
        </p>
    </div>
</li>