<div class="list-view">
    <ul>
        <li data-ng-repeat="person in app.list">
            <div>
                <span>{{$index + 1}}</span>
                $index is the position of the person item in the array
            </div>
            <div>
                <span>Name: </span>
                <span data-ng-bind="person.name"></span>
            </div>
            <div>
                <span>Age: {{person.age}}</span>
            </div>
            <div>
                <span>Number: </span>
                <span data-ng-bind="person.number"></span>
            </div>
            <div>
                <button type="button" data-ng-click="app.deletePerson($index)">Delete</button>
            </div>
            <br>
        </li>
    </ul>
</div>