 ul {list-style: none;}

.person-form, .list-view {
    display: inline-block;
    width: 440px;
    padding: 20px;
    border: 1px solid #d5d5d5;
    background-color: #e5e5e5;
    vertical-align: top;
}

.person-form label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 20px;
}

.form-row {
    margin: 10px 0;
}

.person-form button {
    display: block;
    width: 200px;
    background-color: #77dd33;
    height: 30px;
    margin: 5px auto 10px auto;
    border: none;
    cursor: pointer;
}

.person-form label.valid, .person-form label.invalid {
    display: block;
    width: 200px;
    text-align: center;
    margin: 5px auto;
}

.person-form label.valid {
    color: green;
}

.lists-nav {
    width: 200px;
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #e5e5e5;
    text-align: center;
    margin-bottom: 10px;
}