tr {
    width: 100%;
}

td {
    border: 1px solid #777;
    padding: 5px;
    border-collapse: collapse;
}

.event-title-cell {
    width: 150px;
}

.event-time-cell {
    width: 150px;
}

.event-host-cell {
    width: 150px;
}

.event-location-cell {
    width: 150px;
}