.form-create-event {
    margin: 0 auto;
    width: 90%;

    .time-range .form-control {
        width: 100px;
        display: inline-block;
    }

    .form-label {
        font-size: 15pt;
    }

    .button-create-note {
        width: 200px;
    }
}