h1.title-application {
    text-align: center;
    font-size: 18pt;
    color: #334433;
    text-shadow: #dddddd -3px 3px 1px;
}

.form-create-note {
    width: 400px;
    margin: 15px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

.form-element {
    width: auto;
    padding: 5px;
}

.form-element div:first-child {
    vertical-align: top;
    display: inline-block;
    width: 50px;
}

textarea {
    height: 200px;
}

.form-element input, textarea {
    padding: 2px;
    width: 300px;
}

.form-element input:focus, textarea:focus {
    box-shadow: #9999ff 1px 1px 1px;
}


.form-element input.form-button {
    width: 150px;
    background-color: #9977bb;
    margin: 0 auto;
    font-size: 12pt;
    display: block;
}

.form-element input.form-button:focus {
    box-shadow: #9999ff 1px 1px 1px;
}

.panel-all-notes {
    display: inline-block;
    width: 700px;
}

li {
    display: inline-block;
    width: 250px;
    border: 1px solid gray;
    padding: 10px;
    background-color: #ddaaff;
    margin: 5px;
}